@font-face {
  font-family: Myfont;
  src: url("./font/Gentona Medium.otf");
}
* {
  font-family: Myfont;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
button,
li,
#div-menu:hover {
  cursor: pointer;
}
header {
  background-color: black;
  height: 70px;
  position: fixed;
  top: -1%;
  width: 100%;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-around;
  height: inherit;
}
nav div {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  width: 580px;
}
.nav_d1 ul {
  display: flex;
  color: white;
  font-weight: 400;
  font-size: 14px;
  list-style-type: none;
  gap: 20px;
}
.nav_d1 img {
  height: 30px;
}
.nav_d2 {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.nav_d2 button {
  height: 45px;
  width: 120px;
  border: none;
}
#nav-btn1 {
  background-color: #333;
  color: white;
}
.nav_d2 span {
  color: white;
}
/* /////////////////   Section 1  //////////////////// */
.section1 {
  /* border: 2px solid green; */
  position: relative;
  height: 350px;
  box-sizing: border-box;
}
.bg-banner {
  height: 350px;
  background-image: url(./Images/hero-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  margin-top: 5%;
  position: absolute;
  width: 100%;
  top: -23%;
  z-index: 0;
}
.sec1d1 {
  /* border: 2px solid red; */
  position: absolute;
  top: 50px;
  width: 100%;
  height: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.sec1d1 > div {
  /* border: 2px solid pink; */
  /* height: 250px; */
  width: 65%;
  display: flex;
  flex-direction: column;
}
.sec1d1 > div > font {
  color: white;
  font-size: 50px;
  font-weight: 500;
}
#search-menu {
  /* border: 2px solid blue; */
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
}
#search-menu #sm-d1 {
  /* border: 2px solid yellow; */
  height: 40px;
  width: 400px;
  background-color: white;
  display: flex;
  align-items: center;
}
#sm-d1 ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 16px;
  font-weight: 500;
}
#search-menu #sm-d2 {
  /* border: 2px solid yellow; */
  height: 100%;
  background-color: #f2f4f6;
  padding: 20px 20px;
}
#sm-d2 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
#sm-d2 div {
  display: flex;
  align-items: center;
  border: 1px solid black;
}
#sm-d2 div input {
  height: 45px;
  width: 250px;
  border: none;
}
#sm-d2 div button {
  height: 45px;
  width: 30px;
  border: none;
  background-color: white;
}
#search-btn {
  font-weight: 600;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  font-size: large;
}
#search-btn font {
  color: #32c86e;
}
#search-btn span {
  margin-left: 60px;
}
#sm-d2 > button {
  width: 250px;
  height: 45px;
  background-color: white;
  border-radius: 0px;
  background: url(https://s3-ap-southeast-1.amazonaws.com/ola-prod-website/ola_cabs_back.svg)
      no-repeat bottom,
    radial-gradient(
      127.68% 2996.56% at 12.65% 127.68%,
      #000000 0%,
      #222222 100%
    );
  color: #fff;
  border: none;
  box-shadow: -3px 3px 0 #32c86e;
}
#sm-d2 #green_dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #92c83e;
  margin: 0 10px 0 -10px;
}
#sm-d2 #red_dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #e97550;
  margin: 0 10px 0 -10px;
}
/* /////////////////   Section 2  //////////////////// */
.section2 {
  height: 250px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.section2 img {
  height: 160px;
}
.section2 img:hover {
  cursor: pointer;
}
/* /////////////////   Section 3  //////////////////// */
.section3 {
  height: 600px;
  /* border: 2px solid black; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* padding-bottom: 100px; */
}
.section3 > h1 {
  font-size: 48px;
  /* font-family: "gentonamedium"; */
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
  color: #000000;
  font-weight: normal;
  letter-spacing: -1px;
  text-align: center;
}
.sec3div {
  /* border: 2px solid red; */
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.sec3div-container {
  /* border: 2px solid blue; */
  /* height: 200px; */
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* gap: 10px; */
  text-align: center;
}
.sec3div-container img {
  /* height: 140px; */
  width: 130px;
}
.text-container {
  /* display: flex;
  flex-direction: column; */
  gap: 10px;
}
.sec3div-container h1,
p {
  font-size: 40px;
  line-height: 10px;
}
.sec3div-container p {
  font-size: 30px;
  line-height: 10px;
}
.sec3div-container font {
  color: grey;
}
/* /////////////////   Section 4  //////////////////// */
.section4 {
  height: 800px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  /* padding-bottom: 100px; */
}
.sec4maindiv {
  /* border: 2px solid green; */
  height: max-content;
  /* width: 74%; */
  display: flex;
  align-items: start;
  flex-direction: column;
}
.section4 > div > h1 {
  font-size: 48px;
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
  color: #000000;
  font-weight: medium;
  letter-spacing: -1px;
  text-align: center;
}
.sec4div {
  /* border: 2px solid red; */
  /* width: 100%; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 15px;
}
.sec4div-container {
  /* border: 2px solid blue; */
  /* height: 200px; */
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* gap: 10px; */
  text-align: left;
}
.sec4div-container img {
  height: 255px;
  /* width: 130px; */
}
.text-container {
  /* display: flex;
  flex-direction: column; */
  gap: 10px;
}
.text-container h1 {
  font-size: 40px;
  line-height: 10px;
}
.text-container p {
  font-size: 30px;
  line-height: 30px;
}
.text-container font {
  font-size: larger;
  color: grey;
}
/* /////////////////   Section 5  //////////////////// */
.section5 {
  /* border: 2px solid black; */
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: skewY(-2deg); */
}
.sec5maindiv {
  /* border: 2px solid green; */
  width: 68%;
  height: 78%;
  display: flex;
  gap: 50px;
}
.sec5maindiv > div {
  /* border: 2px solid red; */
  width: 50%;
}
.sec5mdd1 video {
  height: inherit;
  width: 490px;
}
.sec5mdd2 {
  display: flex;
  align-items: center;
}
#sec5-content {
  /* border: 2px solid yellow; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sec5-content h1 {
  font-size: 48px;
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
  color: #000000;
  font-weight: normal;
  letter-spacing: -1px;
}
#sec5-content-outer {
  width: 100%;
  height: 330px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#sec5-content-inner {
  /* border: 2px solid black; */
  height: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
#progress-bar {
  width: 4px;
  height: 130px;
  background-color: #32c86e;
}
#inner-content {
  /* border: 2px solid orange; */
  height: 160px;
  width: 100%;
}
#inner-content-p1 {
  font-size: 25px;
}
#inner-content-p2 {
  font-size: medium;
  color: gray;
  line-height: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgb(0 0 0 / 70%);
}
.dummy {
  height: 70px;
}
/* /////////////////   Section 6  //////////////////// */
.section6 {
  height: 1000px;
  background: rgb(241, 246, 233);
  transform: skewY(-2deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec6-maindiv {
  /* border: 2px solid red; */
  width: 70%;
  height: fit-content;
  display: flex;
  gap: 70px;
  flex-direction: column;
  transform: skewY(2deg);
}
.sec6-maindiv > div {
  /* border: 2px solid green; */
  height: 320px;
  display: flex;
  /* gap: 20px; */
}
.sec6-maindiv > h1 {
  font-size: 48px;
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
  color: #000000;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: -40px;
}
.sec6mdd1 > img {
  height: 320px;
}
.sec6-md1-div {
  /* border: 2px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* gap: 10px; */
  line-height: 20px;
  padding-left: 30px;
}
#sec6-content-inner-image-div {
  /* border: 2px solid yellow; */
  height: 120px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
#sec6-md1-p1 {
  font-size: 24px;
  color: #000000;
  line-height: 28px;
  font-weight: lighter;
}
#sec6-md1-p1 font {
  background-color: rgb(186, 240, 186);
  color: #16aa51;
  font-size: 15px;
  padding: 10px;
}
#sec6-md1-p2 {
  font-size: 24px;
  color: #000000;
  line-height: 28px;
}
.img-div-div {
  /* border: 2px solid red; */
  height: 120px;
  width: 90px;
  /* text-align: center; */
}
.insurance-p {
  font-size: small;
  line-height: 15px;
}
.sec6mdd2 {
  display: flex;
  gap: 30px;
}
.sec6mdd2 > div {
  /* border: 2px solid red; */
  /* width: 50%; */
  height: 100%;
}
.sec6mdd2-d1 {
  width: 30%;
}
#sec6mdd2-d2 {
  /* width: 100%; */
  display: flex;
  /* flex-direction: column; */
  align-items: start;
  gap: 30px;
}
#sec6mdd2-d1-p1 {
  font-size: 25px;
}
#sec6mdd2-d1-p2 {
  font-size: 25px;
  line-height: 25px;
}
#sec6mdd2-d1-d {
  font-size: 25px;
  line-height: 25px;
  color: #16aa51;
  margin-top: 50px;
}
/* /////////////////   Section 7  //////////////////// */
.section7 {
  height: 1200px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec7-maindiv {
  /* border: 2px solid red; */
  height: 90%;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.sec7-maindiv > h1 {
  font-size: 48px;
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
  color: #000000;
  font-weight: normal;
  letter-spacing: -1px;
}
.sec7-maindiv > div {
  /* border: 2px solid green; */
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 10px;
}
.sec7-maindiv-d1 {
  /* border: 2px solid red; */
  height: fit-content;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.sec7-maindiv-d1 p {
  font-size: 17px;
  line-height: normal;
  font-weight: 300;
  color: grey;
  width: 95%;
}
.sec7-maindiv-d1 img {
  width: 510px;
}
.sec7-maindiv-d2 {
  /* border: 2px solid red; */
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.sec7-maindiv-d2-div {
  /* border: 2px solid yellow; */
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.sec7-maindiv-d2-div div {
  width: 150px;
}
.sec7-maindiv-d2-div div p {
  font-size: 20px;
  line-height: normal;
}
.sec7-maindiv-d2-div div p font {
  font-size: 15px;
  color: grey;
}
.sec7-maindiv-d2 > img {
  width: 510px;
}
/* /////////////////   Section 8  //////////////////// */
.section8 {
  /* border: 2px solid black; */
  height: 700px;
  display: flex;
  justify-content: center;
}
.sec8-maindiv {
  /* border: 2px solid red; */
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sec8-maindiv > h1 {
  font-size: 48px;
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
  color: #000000;
  font-weight: normal;
  letter-spacing: -1px;
}
.sec8-md-div {
  /* border: 2px solid blue; */
  height: 300px;
  width: 100%;
}
#description-text {
  font-size: small;
  color: gray;
  text-align: right;
}
/* /////////////////   Section 9  //////////////////// */
.section9 {
  /* border: 2px solid black; */
  height: 800px;
  transform: skewY(-2deg);
  background: rgb(242, 244, 240);
  display: flex;
  justify-content: center;
}
.sec9-maindiv {
  /* border: 2px solid red; */
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  transform: skewY(2deg);
  align-items: start;
  justify-content: center;
}
.sec9-maindiv > h1 {
  font-size: 48px;
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
  color: #000000;
  font-weight: normal;
  letter-spacing: -1px;
}
.sec9-md-div {
  /* border: 2px solid green; */
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sec9-content-div {
  /* border: 2px solid yellow; */
  height: max-content;
  width: 330px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.sec9-content-div > img {
  height: 220px;
  width: 330px;
}
.sec9-content-div > p {
  font-size: 25px;
}
.sec9-content-div > font {
  font-size: medium;
  color: #16aa51;
}
/* /////////////////   Section 10  //////////////////// */
.section10 {
  /* border: 2px solid black; */
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secc10-maindiv {
  /* border: 2px solid green; */
  height: 90%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.secc10-maindiv > h1 {
  font-size: 48px;
  /* text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e; */
  color: #000000;
  font-weight: normal;
  letter-spacing: -1px;
}
.sec10-card-div {
  /* border: 2px solid red; */
  height: fit-content;
  width: 68%;
  display: flex;
  justify-content: space-between;
}
.sec10-card {
  display: flex;
  /* justify-content: start; */
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient(100% 100% at 28.66% 0%, #f9fcf4 0%, #e0e6d8 100%);
  padding: 32px;
  cursor: pointer;
  height: 220px;
  width: 270px;
}
.sec10-card > div {
  /* border: 2px solid blue; */
  width: 100%;
  height: max-content;
}
.sec10-card > img {
  height: 80px;
  border-radius: 20px;
}
.sec10-card-pcon {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec10-card-pcon > p {
  font-size: 27px;
}
.sec10-card-pcon img {
  width: 25px;
}
.sec10-card font {
  color: gray;
  font-size: 15px;
}
/* /////////////////   FOOTER  //////////////////// */
footer {
  /* border: 2px solid black; */
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* transform: skewY(-2deg); */
  background: #f2f4f6;
  clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0 100%);
}
.footer-main-div {
  /* border: 2px solid red; */
  height: max-content;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: start;
  /* transform: skewY(2deg); */
}
.footer-main-div > div {
  /* border: 2px solid blue; */
}
.footer-inner-div1 {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-top: 15px;
}

#footer-logo {
  height: 30px;
}
.footer-icon-div {
  display: flex;
  /* justify-content: space-between; */
  gap: 25px;
}
.footer-inner-div2 {
  width: 100%;
  display: flex;
  gap: 40px;
}
.footer-inner-div2 > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer-line {
  color: black;
  /* border: 2px solid black; */
  width: 90%;
}
.footer-coppyright {
  /* border: 2px solid black; */
  border-top: 1px solid #e0e0e0;
  height: 70px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}
.footer-coppyright > p {
  font-size: 12px;
  color: gray;
}
#copy-div {
  display: flex;
  width: 450px;
  gap: 40px;
  justify-content: center;
  align-items: center;
  /* font-size: small; */
}
#copy-div ul {
  display: flex;
  gap: 20px;
  list-style: none;
  color: gray;
}
#copy-div > p {
  font-size: 16px;
}
